# Supabase Configuration
VITE_SUPABASE_URL=https://xpihdvnppmzhfsjkdmft.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhwaWhkdm5wcG16aGZzamtkbWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0NDY2OTUsImV4cCI6MjA4ODAyMjY5NX0.BY75Pj0VVEAEOnpC8zDgZqmR3DTx-iadw95HAvGqhQE

# Admin Security
ADMIN_SIGNUP_TOKEN=Ritom2026$#$$
